body {
  margin: 0;
  font-family: "Roboto";
  padding: 0;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}
.sub-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.footer {
  margin-top: auto;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  border-radius: 30px;
}
@media screen and (max-width: 567px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-input {
  height: 35px;
  transition: all 0.45s ease-in-out;
  border-radius: 15px;
}
.small-input {
  height: 35px;
  transition: all 0.45s ease-in-out;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-country-picker {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  background-color: #fff;
  min-height: 40px;
}

.custom-country-picker:active {
  border-color: #0408e7;
}

.custom-country-picker:hover {
  border-color: #0408e7;
}
